### Describe how you would store and retrieve KAGGLE_USERNAME and KAGGLE_KEY securely using a .env file and the python-dotenv package.

In [85]:
pip install python-dotenv

Requirement already satisfied: python-dotenv in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [86]:
from dotenv import load_dotenv
import os 
import pandas as pd
import numpy as np
load_dotenv()


username = os.getenv('KAGGLE_USERNAME')
api_key = os.getenv('KAGGLE_KEY')
if not username or not api_key:
    raise ValueError("Kaggle credentials missing in your .env file!")
else:
    print("Kaggle credentials loaded successfully!")

Kaggle credentials loaded successfully!

### Write Python code to read orders.csv into a pandas DataFrame and display the first 30 rows.

In [87]:
import pandas as pd
df = pd.read_csv('orders.csv')

print(df.head(30))

    Order Id  Order Date       Ship Mode      Segment        Country  \
0          1  2023-03-01    Second Class     Consumer  United States
1          2  2023-08-15    Second Class     Consumer  United States
2          3  2023-01-10    Second Class    Corporate  United States
3          4  2022-06-18  Standard Class     Consumer  United States
4          5  2022-07-13  Standard Class     Consumer  United States
5          6  2022-03-13   Not Available     Consumer  United States
6          7  2022-12-28  Standard Class     Consumer  United States
7          8  2022-01-25  Standard Class     Consumer  United States
8          9  2023-03-23   Not Available     Consumer  United States
9         10  2023-05-16  Standard Class     Consumer  United States
10        11  2023-03-31   Not Available     Consumer  United States
11        12  2023-12-25   Not Available     Consumer  United States
12        13  2022-02-11  Standard Class     Consumer  United States
13        14  2023-07-18  Standard Class     Consumer  United States
14        15  2023-11-09         unknown  Home Office  United States
15        16  2022-06-18  Standard Class  Home Office  United States
16        17  2022-02-04  Standard Class     Consumer  United States
17        18  2023-08-04    Second Class     Consumer  United States
18        19  2022-01-23    Second Class     Consumer  United States
19        20  2022-01-11    Second Class     Consumer  United States
20        21  2022-10-05    Second Class     Consumer  United States
21        22  2023-07-16  Standard Class    Corporate  United States
22        23  2023-05-06  Standard Class    Corporate  United States
23        24  2023-05-21    Second Class     Consumer  United States
24        25  2023-02-24  Standard Class     Consumer  United States
25        26  2022-06-20    Second Class     Consumer  United States
26        27  2022-02-08    Second Class     Consumer  United States
27        28  2023-12-11  Standard Class     Consumer  United States
28        29  2022-08-21  Standard Class     Consumer  United States
29        30  2022-08-14  Standard Class     Consumer  United States

               City           State  Postal Code   Region         Category  \
0         Henderson        Kentucky        42420    South        Furniture
1         Henderson        Kentucky        42420    South        Furniture
2       Los Angeles      California        90036     West  Office Supplies
3   Fort Lauderdale         Florida        33311    South        Furniture
4   Fort Lauderdale         Florida        33311    South  Office Supplies
5       Los Angeles      California        90032     West        Furniture
6       Los Angeles      California        90032     West  Office Supplies
7       Los Angeles      California        90032     West       Technology
8       Los Angeles      California        90032     West  Office Supplies
9       Los Angeles      California        90032     West  Office Supplies
10      Los Angeles      California        90032     West        Furniture
11      Los Angeles      California        90032     West       Technology
12          Concord  North Carolina        28027    South  Office Supplies
13          Seattle      Washington        98103     West  Office Supplies
14       Fort Worth           Texas        76106  Central  Office Supplies
15       Fort Worth           Texas        76106  Central  Office Supplies
16          Madison       Wisconsin        53711  Central  Office Supplies
17      West Jordan            Utah        84084     West  Office Supplies
18    San Francisco      California        94109     West  Office Supplies
19    San Francisco      California        94109     West       Technology
20    San Francisco      California        94109     West  Office Supplies
21          Fremont        Nebraska        68025  Central  Office Supplies
22          Fremont        Nebraska        68025  Central  Office Supplies
23     Philadelphia    Pennsylvania        19140     East        Furniture
24             Orem            Utah        84057     West        Furniture
25      Los Angeles      California        90049     West  Office Supplies
26      Los Angeles      California        90049     West       Technology
27     Philadelphia    Pennsylvania        19140     East        Furniture
28     Philadelphia    Pennsylvania        19140     East  Office Supplies
29     Philadelphia    Pennsylvania        19140     East        Furniture

   Sub Category       Product Id  cost price  List Price  Quantity  \
0     Bookcases  FUR-BO-10001798         240         260         2
1        Chairs  FUR-CH-10000454         600         730         3
2        Labels  OFF-LA-10000240          10          10         2
3        Tables  FUR-TA-10000577         780         960         5
4       Storage  OFF-ST-10000760          20          20         2
5   Furnishings  FUR-FU-10001487          50          50         7
6           Art  OFF-AR-10002833          10          10         4
7        Phones  TEC-PH-10002275         860         910         6
8       Binders  OFF-BI-10003910          20          20         3
9    Appliances  OFF-AP-10002892          90         110         5
10       Tables  FUR-TA-10001539        1470        1710         9
11       Phones  TEC-PH-10002033         750         910         4
12        Paper  OFF-PA-10002365          20          20         3
13      Binders  OFF-BI-10003656         360         410         3
14   Appliances  OFF-AP-10002311          60          70         5
15      Binders  OFF-BI-10000756           0           0         3
16      Storage  OFF-ST-10004186         610         670         6
17      Storage  OFF-ST-10000107          60          60         2
18          Art  OFF-AR-10003056          10          10         2
19       Phones  TEC-PH-10001949         170         210         3
20      Binders  OFF-BI-10002215          20          20         4
21          Art  OFF-AR-10000246          20          20         7
22   Appliances  OFF-AP-10001492          50          60         7
23       Chairs  FUR-CH-10002774          60          70         2
24       Tables  FUR-TA-10000577         900        1040         3
25      Binders  OFF-BI-10001634          10          10         2
26  Accessories  TEC-AC-10003027          80          90         3
27    Bookcases  FUR-BO-10004834        2740        3080         7
28      Binders  OFF-BI-10000474          10          10         2
29  Furnishings  FUR-FU-10004848         100         120         3

    Discount Percent
0                  2
1                  3
2                  5
3                  2
4                  5
5                  3
6                  3
7                  5
8                  2
9                  3
10                 3
11                 3
12                 3
13                 2
14                 5
15                 5
16                 3
17                 4
18                 4
19                 3
20                 2
21                 4
22                 3
23                 4
24                 5
25                 5
26                 3
27                 3
28                 5
29                 4

### Shape & Missing Values: In Python, how would you check the DataFrame's shape and count of missing values per column?

In [88]:
print(df.shape)
print('missing values per column')
print(df.isnull().sum())

(9994, 16)
missing values per column
Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

### Categorical Exploration: Write a loop that prints the unique values for each object-type column (excluding Order Date)

In [89]:
for column in df.select_dtypes('object'):
    if column != 'Order Date':
        print(f"\n{column}: {df[column].nunique()} unique values available")
        print(df[column].unique())

Ship Mode: 6 unique values available
['Second Class' 'Standard Class' 'Not Available' 'unknown' 'First Class'
 nan 'Same Day']

Segment: 3 unique values available
['Consumer' 'Corporate' 'Home Office']

Country: 1 unique values available
['United States']

City: 531 unique values available
['Henderson' 'Los Angeles' 'Fort Lauderdale' 'Concord' 'Seattle'
 'Fort Worth' 'Madison' 'West Jordan' 'San Francisco' 'Fremont'
 'Philadelphia' 'Orem' 'Houston' 'Richardson' 'Naperville' 'Melbourne'
 'Eagan' 'Westland' 'Dover' 'New Albany' 'New York City' 'Troy' 'Chicago'
 'Gilbert' 'Springfield' 'Jackson' 'Memphis' 'Decatur' 'Durham' 'Columbia'
 'Rochester' 'Minneapolis' 'Portland' 'Saint Paul' 'Aurora' 'Charlotte'
 'Orland Park' 'Urbandale' 'Columbus' 'Bristol' 'Wilmington' 'Bloomington'
 'Phoenix' 'Roseville' 'Independence' 'Pasadena' 'Newark' 'Franklin'
 'Scottsdale' 'San Jose' 'Edmond' 'Carlsbad' 'San Antonio' 'Monroe'
 'Fairfield' 'Grand Prairie' 'Redlands' 'Hamilton' 'Westfield' 'Akron'
 'Denver' 'Dallas' 'Whittier' 'Saginaw' 'Medina' 'Dublin' 'Detroit'
 'Tampa' 'Santa Clara' 'Lakeville' 'San Diego' 'Brentwood' 'Chapel Hill'
 'Morristown' 'Cincinnati' 'Inglewood' 'Tamarac' 'Colorado Springs'
 'Belleville' 'Taylor' 'Lakewood' 'Arlington' 'Arvada' 'Hackensack'
 'Saint Petersburg' 'Long Beach' 'Hesperia' 'Murfreesboro' 'Layton'
 'Austin' 'Lowell' 'Manchester' 'Harlingen' 'Tucson' 'Quincy'
 'Pembroke Pines' 'Des Moines' 'Peoria' 'Las Vegas' 'Warwick' 'Miami'
 'Huntington Beach' 'Richmond' 'Louisville' 'Lawrence' 'Canton'
 'New Rochelle' 'Gastonia' 'Jacksonville' 'Auburn' 'Norman' 'Park Ridge'
 'Amarillo' 'Lindenhurst' 'Huntsville' 'Fayetteville' 'Costa Mesa'
 'Parker' 'Atlanta' 'Gladstone' 'Great Falls' 'Lakeland' 'Montgomery'
 'Mesa' 'Green Bay' 'Anaheim' 'Marysville' 'Salem' 'Laredo' 'Grove City'
 'Dearborn' 'Warner Robins' 'Vallejo' 'Mission Viejo' 'Rochester Hills'
 'Plainfield' 'Sierra Vista' 'Vancouver' 'Cleveland' 'Tyler' 'Burlington'
 'Waynesboro' 'Chester' 'Cary' 'Palm Coast' 'Mount Vernon' 'Hialeah'
 'Oceanside' 'Evanston' 'Trenton' 'Cottage Grove' 'Bossier City'
 'Lancaster' 'Asheville' 'Lake Elsinore' 'Omaha' 'Edmonds' 'Santa Ana'
 'Milwaukee' 'Florence' 'Lorain' 'Linden' 'Salinas' 'New Brunswick'
 'Garland' 'Norwich' 'Alexandria' 'Toledo' 'Farmington' 'Riverside'
 'Torrance' 'Round Rock' 'Boca Raton' 'Virginia Beach' 'Murrieta'
 'Olympia' 'Washington' 'Jefferson City' 'Saint Peters' 'Rockford'
 'Brownsville' 'Yonkers' 'Oakland' 'Clinton' 'Encinitas' 'Roswell'
 'Jonesboro' 'Antioch' 'Homestead' 'La Porte' 'Lansing' 'Cuyahoga Falls'
 'Reno' 'Harrisonburg' 'Escondido' 'Royal Oak' 'Rockville' 'Coral Springs'
 'Buffalo' 'Boynton Beach' 'Gulfport' 'Fresno' 'Greenville' 'Macon'
 'Cedar Rapids' 'Providence' 'Pueblo' 'Deltona' 'Murray' 'Middletown'
 'Freeport' 'Pico Rivera' 'Provo' 'Pleasant Grove' 'Smyrna' 'Parma'
 'Mobile' 'New Bedford' 'Irving' 'Vineland' 'Glendale' 'Niagara Falls'
 'Thomasville' 'Westminster' 'Coppell' 'Pomona' 'North Las Vegas'
 'Allentown' 'Tempe' 'Laguna Niguel' 'Bridgeton' 'Everett' 'Watertown'
 'Appleton' 'Bellevue' 'Allen' 'El Paso' 'Grapevine' 'Carrollton' 'Kent'
 'Lafayette' 'Tigard' 'Skokie' 'Plano' 'Suffolk' 'Indianapolis' 'Bayonne'
 'Greensboro' 'Baltimore' 'Kenosha' 'Olathe' 'Tulsa' 'Redmond' 'Raleigh'
 'Muskogee' 'Meriden' 'Bowling Green' 'South Bend' 'Spokane' 'Keller'
 'Port Orange' 'Medford' 'Charlottesville' 'Missoula' 'Apopka' 'Reading'
 'Broomfield' 'Paterson' 'Oklahoma City' 'Chesapeake' 'Lubbock'
 'Johnson City' 'San Bernardino' 'Leominster' 'Bozeman' 'Perth Amboy'
 'Ontario' 'Rancho Cucamonga' 'Moorhead' 'Mesquite' 'Stockton'
 'Ormond Beach' 'Sunnyvale' 'York' 'College Station' 'Saint Louis'
 'Manteca' 'San Angelo' 'Salt Lake City' 'Knoxville' 'Little Rock'
 'Lincoln Park' 'Marion' 'Littleton' 'Bangor' 'Southaven' 'New Castle'
 'Midland' 'Sioux Falls' 'Fort Collins' 'Clarksville' 'Sacramento'
 'Thousand Oaks' 'Malden' 'Holyoke' 'Albuquerque' 'Sparks' 'Coachella'
 'Elmhurst' 'Passaic' 'North Charleston' 'Newport News' 'Jamestown'
 'Mishawaka' 'La Quinta' 'Tallahassee' 'Nashville' 'Bellingham'
 'Woodstock' 'Haltom City' 'Wheeling' 'Summerville' 'Hot Springs'
 'Englewood' 'Las Cruces' 'Hoover' 'Frisco' 'Vacaville' 'Waukesha'
 'Bakersfield' 'Pompano Beach' 'Corpus Christi' 'Redondo Beach' 'Orlando'
 'Orange' 'Lake Charles' 'Highland Park' 'Hempstead' 'Noblesville'
 'Apple Valley' 'Mount Pleasant' 'Sterling Heights' 'Eau Claire' 'Pharr'
 'Billings' 'Gresham' 'Chattanooga' 'Meridian' 'Bolingbrook' 'Maple Grove'
 'Woodland' 'Missouri City' 'Pearland' 'San Mateo' 'Grand Rapids'
 'Visalia' 'Overland Park' 'Temecula' 'Yucaipa' 'Revere' 'Conroe'
 'Tinley Park' 'Dubuque' 'Dearborn Heights' 'Santa Fe' 'Hickory'
 'Carol Stream' 'Saint Cloud' 'North Miami' 'Plantation'
 'Port Saint Lucie' 'Rock Hill' 'Odessa' 'West Allis' 'Chula Vista'
 'Manhattan' 'Altoona' 'Thornton' 'Champaign' 'Texarkana' 'Edinburg'
 'Baytown' 'Greenwood' 'Woonsocket' 'Superior' 'Bedford' 'Covington'
 'Broken Arrow' 'Miramar' 'Hollywood' 'Deer Park' 'Wichita' 'Mcallen'
 'Iowa City' 'Boise' 'Cranston' 'Port Arthur' 'Citrus Heights'
 'The Colony' 'Daytona Beach' 'Bullhead City' 'Portage' 'Fargo' 'Elkhart'
 'San Gabriel' 'Margate' 'Sandy Springs' 'Mentor' 'Lawton' 'Hampton'
 'Rome' 'La Crosse' 'Lewiston' 'Hattiesburg' 'Danville' 'Logan'
 'Waterbury' 'Athens' 'Avondale' 'Marietta' 'Yuma' 'Wausau' 'Pasco'
 'Oak Park' 'Pensacola' 'League City' 'Gaithersburg' 'Lehi' 'Tuscaloosa'
 'Moreno Valley' 'Georgetown' 'Loveland' 'Chandler' 'Helena' 'Kirkwood'
 'Waco' 'Frankfort' 'Bethlehem' 'Grand Island' 'Woodbury' 'Rogers'
 'Clovis' 'Jupiter' 'Santa Barbara' 'Cedar Hill' 'Norfolk' 'Draper'
 'Ann Arbor' 'La Mesa' 'Pocatello' 'Holland' 'Milford' 'Buffalo Grove'
 'Lake Forest' 'Redding' 'Chico' 'Utica' 'Conway' 'Cheyenne' 'Owensboro'
 'Caldwell' 'Kenner' 'Nashua' 'Bartlett' 'Redwood City' 'Lebanon'
 'Santa Maria' 'Des Plaines' 'Longview' 'Hendersonville' 'Waterloo'
 'Cambridge' 'Palatine' 'Beverly' 'Eugene' 'Oxnard' 'Renton' 'Glenview'
 'Delray Beach' 'Commerce City' 'Texas City' 'Wilson' 'Rio Rancho'
 'Goldsboro' 'Montebello' 'El Cajon' 'Beaumont' 'West Palm Beach'
 'Abilene' 'Normal' 'Saint Charles' 'Camarillo' 'Hillsboro' 'Burbank'
 'Modesto' 'Garden City' 'Atlantic City' 'Longmont' 'Davis' 'Morgan Hill'
 'Clifton' 'Sheboygan' 'East Point' 'Rapid City' 'Andover' 'Kissimmee'
 'Shelton' 'Danbury' 'Sanford' 'San Marcos' 'Greeley' 'Mansfield' 'Elyria'
 'Twin Falls' 'Coral Gables' 'Romeoville' 'Marlborough' 'Laurel' 'Bryan'
 'Pine Bluff' 'Aberdeen' 'Hagerstown' 'East Orange' 'Arlington Heights'
 'Oswego' 'Coon Rapids' 'San Clemente' 'San Luis Obispo' 'Springdale'
 'Lodi' 'Mason']

State: 49 unique values available
['Kentucky' 'California' 'Florida' 'North Carolina' 'Washington' 'Texas'
 'Wisconsin' 'Utah' 'Nebraska' 'Pennsylvania' 'Illinois' 'Minnesota'
 'Michigan' 'Delaware' 'Indiana' 'New York' 'Arizona' 'Virginia'
 'Tennessee' 'Alabama' 'South Carolina' 'Oregon' 'Colorado' 'Iowa' 'Ohio'
 'Missouri' 'Oklahoma' 'New Mexico' 'Louisiana' 'Connecticut' 'New Jersey'
 'Massachusetts' 'Georgia' 'Nevada' 'Rhode Island' 'Mississippi'
 'Arkansas' 'Montana' 'New Hampshire' 'Maryland' 'District of Columbia'
 'Kansas' 'Vermont' 'Maine' 'South Dakota' 'Idaho' 'North Dakota'
 'Wyoming' 'West Virginia']

Region: 4 unique values available
['South' 'West' 'Central' 'East']

Category: 3 unique values available
['Furniture' 'Office Supplies' 'Technology']

Sub Category: 17 unique values available
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']

Product Id: 1862 unique values available
['FUR-BO-10001798' 'FUR-CH-10000454' 'OFF-LA-10000240' ...
 'OFF-AP-10003099' 'TEC-PH-10002645' 'OFF-ST-10001627']

### Replace Invalids: In pandas, replace the entries 'Not Available' and 'unknown' in the Ship Mode column with NaN

In [90]:
import numpy as np

df['Ship Mode'] = df['Ship Mode'].replace(['Not Available', 'unknown'], np.nan)
print(df.head(10))

   Order Id  Order Date       Ship Mode    Segment        Country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States
5         6  2022-03-13             NaN   Consumer  United States
6         7  2022-12-28  Standard Class   Consumer  United States
7         8  2022-01-25  Standard Class   Consumer  United States
8         9  2023-03-23             NaN   Consumer  United States
9        10  2023-05-16  Standard Class   Consumer  United States

              City       State  Postal Code Region         Category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies
5      Los Angeles  California        90032   West        Furniture
6      Los Angeles  California        90032   West  Office Supplies
7      Los Angeles  California        90032   West       Technology
8      Los Angeles  California        90032   West  Office Supplies
9      Los Angeles  California        90032   West  Office Supplies

  Sub Category       Product Id  cost price  List Price  Quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2
5  Furnishings  FUR-FU-10001487          50          50         7
6          Art  OFF-AR-10002833          10          10         4
7       Phones  TEC-PH-10002275         860         910         6
8      Binders  OFF-BI-10003910          20          20         3
9   Appliances  OFF-AP-10002892          90         110         5

   Discount Percent
0                 2
1                 3
2                 5
3                 2
4                 5
5                 3
6                 3
7                 5
8                 2
9                 3

### Rename Columns: Show how to rename all DataFrame columns by lowercasing and replacing spaces with underscores.

In [91]:
#renaming
df.columns=[column.lower().replace(" ","_")
for column in df.columns]
print(df.head(10))

   order_id  order_date       ship_mode    segment        country  \
0         1  2023-03-01    Second Class   Consumer  United States
1         2  2023-08-15    Second Class   Consumer  United States
2         3  2023-01-10    Second Class  Corporate  United States
3         4  2022-06-18  Standard Class   Consumer  United States
4         5  2022-07-13  Standard Class   Consumer  United States
5         6  2022-03-13             NaN   Consumer  United States
6         7  2022-12-28  Standard Class   Consumer  United States
7         8  2022-01-25  Standard Class   Consumer  United States
8         9  2023-03-23             NaN   Consumer  United States
9        10  2023-05-16  Standard Class   Consumer  United States

              city       state  postal_code region         category  \
0        Henderson    Kentucky        42420  South        Furniture
1        Henderson    Kentucky        42420  South        Furniture
2      Los Angeles  California        90036   West  Office Supplies
3  Fort Lauderdale     Florida        33311  South        Furniture
4  Fort Lauderdale     Florida        33311  South  Office Supplies
5      Los Angeles  California        90032   West        Furniture
6      Los Angeles  California        90032   West  Office Supplies
7      Los Angeles  California        90032   West       Technology
8      Los Angeles  California        90032   West  Office Supplies
9      Los Angeles  California        90032   West  Office Supplies

  sub_category       product_id  cost_price  list_price  quantity  \
0    Bookcases  FUR-BO-10001798         240         260         2
1       Chairs  FUR-CH-10000454         600         730         3
2       Labels  OFF-LA-10000240          10          10         2
3       Tables  FUR-TA-10000577         780         960         5
4      Storage  OFF-ST-10000760          20          20         2
5  Furnishings  FUR-FU-10001487          50          50         7
6          Art  OFF-AR-10002833          10          10         4
7       Phones  TEC-PH-10002275         860         910         6
8      Binders  OFF-BI-10003910          20          20         3
9   Appliances  OFF-AP-10002892          90         110         5

   discount_percent
0                 2
1                 3
2                 5
3                 2
4                 5
5                 3
6                 3
7                 5
8                 2
9                 3

##### Compute a discount column as list_price * discount_percent / 100.
##### Compute a selling_price column as list_price - discount
##### Compute a profit column as selling_price - cost_price.

In [92]:
#discount
df["discount"]=df["list_price"] * df["discount_percent"]/100
print(df.discount)
print (df.head(30))

0        5.2
1       21.9
2        0.5
3       19.2
4        1.0
        ...
9989     1.2
9990     3.6
9991     5.2
9992     0.9
9993     7.2
Name: discount, Length: 9994, dtype: float64
    order_id  order_date       ship_mode      segment        country  \
0          1  2023-03-01    Second Class     Consumer  United States
1          2  2023-08-15    Second Class     Consumer  United States
2          3  2023-01-10    Second Class    Corporate  United States
3          4  2022-06-18  Standard Class     Consumer  United States
4          5  2022-07-13  Standard Class     Consumer  United States
5          6  2022-03-13             NaN     Consumer  United States
6          7  2022-12-28  Standard Class     Consumer  United States
7          8  2022-01-25  Standard Class     Consumer  United States
8          9  2023-03-23             NaN     Consumer  United States
9         10  2023-05-16  Standard Class     Consumer  United States
10        11  2023-03-31             NaN     Consumer  United States
11        12  2023-12-25             NaN     Consumer  United States
12        13  2022-02-11  Standard Class     Consumer  United States
13        14  2023-07-18  Standard Class     Consumer  United States
14        15  2023-11-09             NaN  Home Office  United States
15        16  2022-06-18  Standard Class  Home Office  United States
16        17  2022-02-04  Standard Class     Consumer  United States
17        18  2023-08-04    Second Class     Consumer  United States
18        19  2022-01-23    Second Class     Consumer  United States
19        20  2022-01-11    Second Class     Consumer  United States
20        21  2022-10-05    Second Class     Consumer  United States
21        22  2023-07-16  Standard Class    Corporate  United States
22        23  2023-05-06  Standard Class    Corporate  United States
23        24  2023-05-21    Second Class     Consumer  United States
24        25  2023-02-24  Standard Class     Consumer  United States
25        26  2022-06-20    Second Class     Consumer  United States
26        27  2022-02-08    Second Class     Consumer  United States
27        28  2023-12-11  Standard Class     Consumer  United States
28        29  2022-08-21  Standard Class     Consumer  United States
29        30  2022-08-14  Standard Class     Consumer  United States

               city           state  postal_code   region         category  \
0         Henderson        Kentucky        42420    South        Furniture
1         Henderson        Kentucky        42420    South        Furniture
2       Los Angeles      California        90036     West  Office Supplies
3   Fort Lauderdale         Florida        33311    South        Furniture
4   Fort Lauderdale         Florida        33311    South  Office Supplies
5       Los Angeles      California        90032     West        Furniture
6       Los Angeles      California        90032     West  Office Supplies
7       Los Angeles      California        90032     West       Technology
8       Los Angeles      California        90032     West  Office Supplies
9       Los Angeles      California        90032     West  Office Supplies
10      Los Angeles      California        90032     West        Furniture
11      Los Angeles      California        90032     West       Technology
12          Concord  North Carolina        28027    South  Office Supplies
13          Seattle      Washington        98103     West  Office Supplies
14       Fort Worth           Texas        76106  Central  Office Supplies
15       Fort Worth           Texas        76106  Central  Office Supplies
16          Madison       Wisconsin        53711  Central  Office Supplies
17      West Jordan            Utah        84084     West  Office Supplies
18    San Francisco      California        94109     West  Office Supplies
19    San Francisco      California        94109     West       Technology
20    San Francisco      California        94109     West  Office Supplies
21          Fremont        Nebraska        68025  Central  Office Supplies
22          Fremont        Nebraska        68025  Central  Office Supplies
23     Philadelphia    Pennsylvania        19140     East        Furniture
24             Orem            Utah        84057     West        Furniture
25      Los Angeles      California        90049     West  Office Supplies
26      Los Angeles      California        90049     West       Technology
27     Philadelphia    Pennsylvania        19140     East        Furniture
28     Philadelphia    Pennsylvania        19140     East  Office Supplies
29     Philadelphia    Pennsylvania        19140     East        Furniture

   sub_category       product_id  cost_price  list_price  quantity  \
0     Bookcases  FUR-BO-10001798         240         260         2
1        Chairs  FUR-CH-10000454         600         730         3
2        Labels  OFF-LA-10000240          10          10         2
3        Tables  FUR-TA-10000577         780         960         5
4       Storage  OFF-ST-10000760          20          20         2
5   Furnishings  FUR-FU-10001487          50          50         7
6           Art  OFF-AR-10002833          10          10         4
7        Phones  TEC-PH-10002275         860         910         6
8       Binders  OFF-BI-10003910          20          20         3
9    Appliances  OFF-AP-10002892          90         110         5
10       Tables  FUR-TA-10001539        1470        1710         9
11       Phones  TEC-PH-10002033         750         910         4
12        Paper  OFF-PA-10002365          20          20         3
13      Binders  OFF-BI-10003656         360         410         3
14   Appliances  OFF-AP-10002311          60          70         5
15      Binders  OFF-BI-10000756           0           0         3
16      Storage  OFF-ST-10004186         610         670         6
17      Storage  OFF-ST-10000107          60          60         2
18          Art  OFF-AR-10003056          10          10         2
19       Phones  TEC-PH-10001949         170         210         3
20      Binders  OFF-BI-10002215          20          20         4
21          Art  OFF-AR-10000246          20          20         7
22   Appliances  OFF-AP-10001492          50          60         7
23       Chairs  FUR-CH-10002774          60          70         2
24       Tables  FUR-TA-10000577         900        1040         3
25      Binders  OFF-BI-10001634          10          10         2
26  Accessories  TEC-AC-10003027          80          90         3
27    Bookcases  FUR-BO-10004834        2740        3080         7
28      Binders  OFF-BI-10000474          10          10         2
29  Furnishings  FUR-FU-10004848         100         120         3

    discount_percent  discount
0                  2       5.2
1                  3      21.9
2                  5       0.5
3                  2      19.2
4                  5       1.0
5                  3       1.5
6                  3       0.3
7                  5      45.5
8                  2       0.4
9                  3       3.3
10                 3      51.3
11                 3      27.3
12                 3       0.6
13                 2       8.2
14                 5       3.5
15                 5       0.0
16                 3      20.1
17                 4       2.4
18                 4       0.4
19                 3       6.3
20                 2       0.4
21                 4       0.8
22                 3       1.8
23                 4       2.8
24                 5      52.0
25                 5       0.5
26                 3       2.7
27                 3      92.4
28                 5       0.5
29                 4       4.8

In [93]:
#selling price
df["selling_price"]=df["list_price"]-df["discount"]
print(df.selling_price)
print (df.head(30))

0       254.8
1       708.1
2         9.5
3       940.8
4        19.0
        ...
9989     28.8
9990     86.4
9991    254.8
9992     29.1
9993    232.8
Name: selling_price, Length: 9994, dtype: float64
    order_id  order_date       ship_mode      segment        country  \
0          1  2023-03-01    Second Class     Consumer  United States
1          2  2023-08-15    Second Class     Consumer  United States
2          3  2023-01-10    Second Class    Corporate  United States
3          4  2022-06-18  Standard Class     Consumer  United States
4          5  2022-07-13  Standard Class     Consumer  United States
5          6  2022-03-13             NaN     Consumer  United States
6          7  2022-12-28  Standard Class     Consumer  United States
7          8  2022-01-25  Standard Class     Consumer  United States
8          9  2023-03-23             NaN     Consumer  United States
9         10  2023-05-16  Standard Class     Consumer  United States
10        11  2023-03-31             NaN     Consumer  United States
11        12  2023-12-25             NaN     Consumer  United States
12        13  2022-02-11  Standard Class     Consumer  United States
13        14  2023-07-18  Standard Class     Consumer  United States
14        15  2023-11-09             NaN  Home Office  United States
15        16  2022-06-18  Standard Class  Home Office  United States
16        17  2022-02-04  Standard Class     Consumer  United States
17        18  2023-08-04    Second Class     Consumer  United States
18        19  2022-01-23    Second Class     Consumer  United States
19        20  2022-01-11    Second Class     Consumer  United States
20        21  2022-10-05    Second Class     Consumer  United States
21        22  2023-07-16  Standard Class    Corporate  United States
22        23  2023-05-06  Standard Class    Corporate  United States
23        24  2023-05-21    Second Class     Consumer  United States
24        25  2023-02-24  Standard Class     Consumer  United States
25        26  2022-06-20    Second Class     Consumer  United States
26        27  2022-02-08    Second Class     Consumer  United States
27        28  2023-12-11  Standard Class     Consumer  United States
28        29  2022-08-21  Standard Class     Consumer  United States
29        30  2022-08-14  Standard Class     Consumer  United States

               city           state  postal_code   region         category  \
0         Henderson        Kentucky        42420    South        Furniture
1         Henderson        Kentucky        42420    South        Furniture
2       Los Angeles      California        90036     West  Office Supplies
3   Fort Lauderdale         Florida        33311    South        Furniture
4   Fort Lauderdale         Florida        33311    South  Office Supplies
5       Los Angeles      California        90032     West        Furniture
6       Los Angeles      California        90032     West  Office Supplies
7       Los Angeles      California        90032     West       Technology
8       Los Angeles      California        90032     West  Office Supplies
9       Los Angeles      California        90032     West  Office Supplies
10      Los Angeles      California        90032     West        Furniture
11      Los Angeles      California        90032     West       Technology
12          Concord  North Carolina        28027    South  Office Supplies
13          Seattle      Washington        98103     West  Office Supplies
14       Fort Worth           Texas        76106  Central  Office Supplies
15       Fort Worth           Texas        76106  Central  Office Supplies
16          Madison       Wisconsin        53711  Central  Office Supplies
17      West Jordan            Utah        84084     West  Office Supplies
18    San Francisco      California        94109     West  Office Supplies
19    San Francisco      California        94109     West       Technology
20    San Francisco      California        94109     West  Office Supplies
21          Fremont        Nebraska        68025  Central  Office Supplies
22          Fremont        Nebraska        68025  Central  Office Supplies
23     Philadelphia    Pennsylvania        19140     East        Furniture
24             Orem            Utah        84057     West        Furniture
25      Los Angeles      California        90049     West  Office Supplies
26      Los Angeles      California        90049     West       Technology
27     Philadelphia    Pennsylvania        19140     East        Furniture
28     Philadelphia    Pennsylvania        19140     East  Office Supplies
29     Philadelphia    Pennsylvania        19140     East        Furniture

   sub_category       product_id  cost_price  list_price  quantity  \
0     Bookcases  FUR-BO-10001798         240         260         2
1        Chairs  FUR-CH-10000454         600         730         3
2        Labels  OFF-LA-10000240          10          10         2
3        Tables  FUR-TA-10000577         780         960         5
4       Storage  OFF-ST-10000760          20          20         2
5   Furnishings  FUR-FU-10001487          50          50         7
6           Art  OFF-AR-10002833          10          10         4
7        Phones  TEC-PH-10002275         860         910         6
8       Binders  OFF-BI-10003910          20          20         3
9    Appliances  OFF-AP-10002892          90         110         5
10       Tables  FUR-TA-10001539        1470        1710         9
11       Phones  TEC-PH-10002033         750         910         4
12        Paper  OFF-PA-10002365          20          20         3
13      Binders  OFF-BI-10003656         360         410         3
14   Appliances  OFF-AP-10002311          60          70         5
15      Binders  OFF-BI-10000756           0           0         3
16      Storage  OFF-ST-10004186         610         670         6
17      Storage  OFF-ST-10000107          60          60         2
18          Art  OFF-AR-10003056          10          10         2
19       Phones  TEC-PH-10001949         170         210         3
20      Binders  OFF-BI-10002215          20          20         4
21          Art  OFF-AR-10000246          20          20         7
22   Appliances  OFF-AP-10001492          50          60         7
23       Chairs  FUR-CH-10002774          60          70         2
24       Tables  FUR-TA-10000577         900        1040         3
25      Binders  OFF-BI-10001634          10          10         2
26  Accessories  TEC-AC-10003027          80          90         3
27    Bookcases  FUR-BO-10004834        2740        3080         7
28      Binders  OFF-BI-10000474          10          10         2
29  Furnishings  FUR-FU-10004848         100         120         3

    discount_percent  discount  selling_price
0                  2       5.2          254.8
1                  3      21.9          708.1
2                  5       0.5            9.5
3                  2      19.2          940.8
4                  5       1.0           19.0
5                  3       1.5           48.5
6                  3       0.3            9.7
7                  5      45.5          864.5
8                  2       0.4           19.6
9                  3       3.3          106.7
10                 3      51.3         1658.7
11                 3      27.3          882.7
12                 3       0.6           19.4
13                 2       8.2          401.8
14                 5       3.5           66.5
15                 5       0.0            0.0
16                 3      20.1          649.9
17                 4       2.4           57.6
18                 4       0.4            9.6
19                 3       6.3          203.7
20                 2       0.4           19.6
21                 4       0.8           19.2
22                 3       1.8           58.2
23                 4       2.8           67.2
24                 5      52.0          988.0
25                 5       0.5            9.5
26                 3       2.7           87.3
27                 3      92.4         2987.6
28                 5       0.5            9.5
29                 4       4.8          115.2

In [94]:
#profit column
df["profit"]=df["selling_price"]-df["cost_price"]
print(df.profit)
print (df.head(30))

0        14.8
1       108.1
2        -0.5
3       160.8
4        -1.0
        ...
9989     -1.2
9990     16.4
9991     34.8
9992     -0.9
9993     22.8
Name: profit, Length: 9994, dtype: float64
    order_id  order_date       ship_mode      segment        country  \
0          1  2023-03-01    Second Class     Consumer  United States
1          2  2023-08-15    Second Class     Consumer  United States
2          3  2023-01-10    Second Class    Corporate  United States
3          4  2022-06-18  Standard Class     Consumer  United States
4          5  2022-07-13  Standard Class     Consumer  United States
5          6  2022-03-13             NaN     Consumer  United States
6          7  2022-12-28  Standard Class     Consumer  United States
7          8  2022-01-25  Standard Class     Consumer  United States
8          9  2023-03-23             NaN     Consumer  United States
9         10  2023-05-16  Standard Class     Consumer  United States
10        11  2023-03-31             NaN     Consumer  United States
11        12  2023-12-25             NaN     Consumer  United States
12        13  2022-02-11  Standard Class     Consumer  United States
13        14  2023-07-18  Standard Class     Consumer  United States
14        15  2023-11-09             NaN  Home Office  United States
15        16  2022-06-18  Standard Class  Home Office  United States
16        17  2022-02-04  Standard Class     Consumer  United States
17        18  2023-08-04    Second Class     Consumer  United States
18        19  2022-01-23    Second Class     Consumer  United States
19        20  2022-01-11    Second Class     Consumer  United States
20        21  2022-10-05    Second Class     Consumer  United States
21        22  2023-07-16  Standard Class    Corporate  United States
22        23  2023-05-06  Standard Class    Corporate  United States
23        24  2023-05-21    Second Class     Consumer  United States
24        25  2023-02-24  Standard Class     Consumer  United States
25        26  2022-06-20    Second Class     Consumer  United States
26        27  2022-02-08    Second Class     Consumer  United States
27        28  2023-12-11  Standard Class     Consumer  United States
28        29  2022-08-21  Standard Class     Consumer  United States
29        30  2022-08-14  Standard Class     Consumer  United States

               city           state  postal_code   region         category  \
0         Henderson        Kentucky        42420    South        Furniture
1         Henderson        Kentucky        42420    South        Furniture
2       Los Angeles      California        90036     West  Office Supplies
3   Fort Lauderdale         Florida        33311    South        Furniture
4   Fort Lauderdale         Florida        33311    South  Office Supplies
5       Los Angeles      California        90032     West        Furniture
6       Los Angeles      California        90032     West  Office Supplies
7       Los Angeles      California        90032     West       Technology
8       Los Angeles      California        90032     West  Office Supplies
9       Los Angeles      California        90032     West  Office Supplies
10      Los Angeles      California        90032     West        Furniture
11      Los Angeles      California        90032     West       Technology
12          Concord  North Carolina        28027    South  Office Supplies
13          Seattle      Washington        98103     West  Office Supplies
14       Fort Worth           Texas        76106  Central  Office Supplies
15       Fort Worth           Texas        76106  Central  Office Supplies
16          Madison       Wisconsin        53711  Central  Office Supplies
17      West Jordan            Utah        84084     West  Office Supplies
18    San Francisco      California        94109     West  Office Supplies
19    San Francisco      California        94109     West       Technology
20    San Francisco      California        94109     West  Office Supplies
21          Fremont        Nebraska        68025  Central  Office Supplies
22          Fremont        Nebraska        68025  Central  Office Supplies
23     Philadelphia    Pennsylvania        19140     East        Furniture
24             Orem            Utah        84057     West        Furniture
25      Los Angeles      California        90049     West  Office Supplies
26      Los Angeles      California        90049     West       Technology
27     Philadelphia    Pennsylvania        19140     East        Furniture
28     Philadelphia    Pennsylvania        19140     East  Office Supplies
29     Philadelphia    Pennsylvania        19140     East        Furniture

   sub_category       product_id  cost_price  list_price  quantity  \
0     Bookcases  FUR-BO-10001798         240         260         2
1        Chairs  FUR-CH-10000454         600         730         3
2        Labels  OFF-LA-10000240          10          10         2
3        Tables  FUR-TA-10000577         780         960         5
4       Storage  OFF-ST-10000760          20          20         2
5   Furnishings  FUR-FU-10001487          50          50         7
6           Art  OFF-AR-10002833          10          10         4
7        Phones  TEC-PH-10002275         860         910         6
8       Binders  OFF-BI-10003910          20          20         3
9    Appliances  OFF-AP-10002892          90         110         5
10       Tables  FUR-TA-10001539        1470        1710         9
11       Phones  TEC-PH-10002033         750         910         4
12        Paper  OFF-PA-10002365          20          20         3
13      Binders  OFF-BI-10003656         360         410         3
14   Appliances  OFF-AP-10002311          60          70         5
15      Binders  OFF-BI-10000756           0           0         3
16      Storage  OFF-ST-10004186         610         670         6
17      Storage  OFF-ST-10000107          60          60         2
18          Art  OFF-AR-10003056          10          10         2
19       Phones  TEC-PH-10001949         170         210         3
20      Binders  OFF-BI-10002215          20          20         4
21          Art  OFF-AR-10000246          20          20         7
22   Appliances  OFF-AP-10001492          50          60         7
23       Chairs  FUR-CH-10002774          60          70         2
24       Tables  FUR-TA-10000577         900        1040         3
25      Binders  OFF-BI-10001634          10          10         2
26  Accessories  TEC-AC-10003027          80          90         3
27    Bookcases  FUR-BO-10004834        2740        3080         7
28      Binders  OFF-BI-10000474          10          10         2
29  Furnishings  FUR-FU-10004848         100         120         3

    discount_percent  discount  selling_price  profit
0                  2       5.2          254.8    14.8
1                  3      21.9          708.1   108.1
2                  5       0.5            9.5    -0.5
3                  2      19.2          940.8   160.8
4                  5       1.0           19.0    -1.0
5                  3       1.5           48.5    -1.5
6                  3       0.3            9.7    -0.3
7                  5      45.5          864.5     4.5
8                  2       0.4           19.6    -0.4
9                  3       3.3          106.7    16.7
10                 3      51.3         1658.7   188.7
11                 3      27.3          882.7   132.7
12                 3       0.6           19.4    -0.6
13                 2       8.2          401.8    41.8
14                 5       3.5           66.5     6.5
15                 5       0.0            0.0     0.0
16                 3      20.1          649.9    39.9
17                 4       2.4           57.6    -2.4
18                 4       0.4            9.6    -0.4
19                 3       6.3          203.7    33.7
20                 2       0.4           19.6    -0.4
21                 4       0.8           19.2    -0.8
22                 3       1.8           58.2     8.2
23                 4       2.8           67.2     7.2
24                 5      52.0          988.0    88.0
25                 5       0.5            9.5    -0.5
26                 3       2.7           87.3     7.3
27                 3      92.4         2987.6   247.6
28                 5       0.5            9.5    -0.5
29                 4       4.8          115.2    15.2

In [95]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\appdata\local\programs\python\python313\lib\site-packages (1.1.1)

####  Connection String: Using environment variables HOST, DATABASE, USER, PASSWORD, and PORT, construct the SQLAlchemy connection string for a MySQL database.

In [96]:
import os
from dotenv import load_dotenv

# Load environment variables from the specified .env file.
# Using a raw string (r"...") for the Windows path to handle backslashes correctly.
load_dotenv(r"C:\Users\HP\Desktop\Lux Dev Python\Classwork\Projects\.env")

# --- Database Connection Credentials ---
# Retrieve credentials from environment variables loaded from the .env file.
# Ensure the variable names here exactly match those defined in your .env file.
username = os.getenv("username1") # Check if it's "username1" or "user" in your .env
password = os.getenv("password")
port = os.getenv("port")
database = os.getenv("database")
host = os.getenv("host")

# You can now use these variables to establish your database connection,
# for example, with SQLAlchemy or psycopg2.
# print(f"Connecting to database '{database}' on host '{host}:{port}' as user '{username}'")

In [97]:
print(username)

postgres

In [98]:
from sqlalchemy import create_engine

In [99]:
connection_string=(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")
engine = create_engine(connection_string)

In [100]:
print(connection_string)

postgresql+psycopg2://postgres:123456@localhost:5432/retail_db

#### Establish Connection: Show the Python code to connect to MySQL using SQLAlchemy and handle potential exceptions.

In [101]:
#Establish Connection
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

# Create the SQLAlchemy engine for PostgreSQL
engine = create_engine(connection_string)

# Try to connect and catch any exceptions
try:
    # Connect to the database
    with engine.connect() as connection:
        print("Connection successful!")
except SQLAlchemyError as e:
    print(f"Error connecting to the database: {e}")

Connection successful!

In [102]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,selling_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [103]:
import pandas as pd
data=pd.read_csv("orders.csv")
df.to_sql("orders", engine, if_exists="replace", index=False)

994

### Total Revenue per Category: Sum selling_price grouped by category, ordered descending

In [104]:
# Total Revenue per Category
query = text("""
    SELECT orders.Category, SUM(selling_price) AS total_revenue
    FROM orders
    GROUP BY orders.Category
    ORDER BY total_revenue DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('Technology', 806873.4999999994)
('Furniture', 715340.6999999989)
('Office Supplies', 693644.499999994)

#### Top 3 Profitable Cities: Identify the three cities with the highest total profit.

In [105]:
query = text("""
    SELECT city, SUM(profit) AS total_profit
    FROM orders
    GROUP BY city
    ORDER BY total_profit DESC
    LIMIT 3;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('New York City', 20925.699999999986)
('Los Angeles', 15088.400000000005)
('San Francisco', 10140.100000000011)

#### Profit Margin per Product: Compute (SUM(profit)/SUM(selling_price))*100 per product_id, list the top 25.

In [106]:
query = text("""
    SELECT product_id, 
           (CASE 
                WHEN SUM(selling_price) = 0 THEN NULL
                ELSE (SUM(profit) / SUM(selling_price)) * 100
            END) AS profit_margin
    FROM orders
    GROUP BY product_id
    ORDER BY profit_margin DESC
    LIMIT 25;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('OFF-AP-10002203', None)
('OFF-BI-10000494', None)
('OFF-FA-10000490', None)
('OFF-FA-10001754', None)
('TEC-AC-10003433', None)
('OFF-AP-10002906', None)
('OFF-AP-10000124', 31.972789115646254)
('FUR-FU-10001379', 31.62393162393162)
('TEC-AC-10002380', 29.82456140350877)
('OFF-EN-10003798', 26.14475627769572)
('OFF-LA-10000414', 24.0855762594893)
('OFF-ST-10001627', 23.469387755102048)
('OFF-PA-10001260', 20.091324200913242)
('OFF-PA-10004782', 20.09132420091324)
('OFF-SU-10000946', 19.295671313279527)
('OFF-AR-10000411', 19.07514450867052)
('TEC-MA-10003493', 18.981481481481488)
('TEC-MA-10000904', 18.967587034813924)
('TEC-AC-10004209', 18.938835666912308)
('OFF-AP-10000252', 18.51851851851852)
('FUR-BO-10002202', 18.3673469387755)
('OFF-EN-10001028', 17.864476386036955)
('OFF-PA-10003309', 17.780061664953752)
('OFF-BI-10003963', 17.695473251028805)
('TEC-PH-10004774', 17.627677100494235)

#### Order Counts by Shipping Mode: Count order_id per ship_mode, ordered descending.

In [107]:
query = text("""
    SELECT ship_mode, COUNT(*) AS order_count
    FROM orders
    GROUP BY ship_mode
    ORDER BY order_count DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('Standard Class', 5962)
('Second Class', 1945)
('First Class', 1538)
('Same Day', 543)
(None, 6)

#### Month with Highest Orders: Find the month number (MONTH(order_date)) with the greatest count of order_id.

In [1]:
query = text("""
    SELECT (MONTH FROM order_date) AS month, COUNT(order_id) AS order_count
    FROM orders
    GROUP BY month
    ORDER BY order_count DESC
    LIMIT 1;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

NameError: name 'text' is not defined

#### Top 5 Most Discounted Products: Select product_id and discount, ordered by discount descending.

In [ ]:
query = text("""
    SELECT product_id, 
           SUM(discount) AS total_discount
    FROM orders
    GROUP BY product_id
    ORDER BY total_discount DESC
    LIMIT 5;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Top 3 Cities by Sales: Sum selling_price per city, list the top three.

In [ ]:
query = text("""
    SELECT city, 
           SUM(selling_price) AS total_sales
    FROM orders
    GROUP BY city
    ORDER BY total_sales DESC
    LIMIT 3;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Average Profit for 2023: Calculate the average profit for orders where YEAR(order_date)=2023.

In [ ]:
query = text("""
    SELECT AVG(profit) AS average_profit
    FROM orders
    WHERE EXTRACT(YEAR FROM order_date) = 2023;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Sub-Category Sales Ranking: Sum selling_price by sub_category, show the top five.

In [ ]:
query = text("""
    SELECT sub_category, 
           SUM(selling_price) AS total_sales
    FROM orders
    GROUP BY sub_category
    ORDER BY total_sales DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Average Selling Price per Category: Compute average selling_price for each category, ordered descending.

In [ ]:
query = text("""
    SELECT category, 
           AVG(selling_price) AS average_selling_price
    FROM orders
    GROUP BY category
    ORDER BY average_selling_price DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('Technology', 436.8562533838654)
('Furniture', 337.2657708628)
('Office Supplies', 115.10861267839262)

#### Top 10 Products by Order Count: Count order_id per product_id, list the top ten.

In [ ]:
query = text("""
    SELECT product_id, 
           COUNT(order_id) AS order_count
    FROM orders
    GROUP BY product_id
    ORDER BY order_count DESC
    LIMIT 10;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Top 5 Profitable Products: Sum profit per product_id, list the top five.

In [ ]:
query = text("""
    SELECT product_id, 
           SUM(profit) AS total_profit
    FROM orders
    GROUP BY product_id
    ORDER BY total_profit DESC
    LIMIT 5;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Year with Highest Sales: Find YEAR(order_date) with maximum sum of selling_price.

In [ ]:
query = text("""
    SELECT EXTRACT(YEAR FROM order_date) AS year, 
           SUM(selling_price) AS total_sales
    FROM orders
    GROUP BY year
    ORDER BY total_sales DESC
    LIMIT 1;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Region with Lowest Discount: Identify region with the lowest average discount.

In [ ]:
query = text("""
    SELECT region, 
           AVG(discount) AS average_discount
    FROM orders
    GROUP BY region
    ORDER BY average_discount ASC
    LIMIT 1;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('Central', 7.490916917778715)

#### Yearly Sales Growth: Show total sales (SUM(selling_price)) per year, ordered by year.

In [ ]:
query = text("""
    SELECT EXTRACT(YEAR FROM order_date) AS year, 
           SUM(selling_price) AS total_sales,
           LAG(SUM(selling_price)) OVER (ORDER BY EXTRACT(YEAR FROM order_date)) AS previous_year_sales,
           (SUM(selling_price) - LAG(SUM(selling_price)) OVER (ORDER BY EXTRACT(YEAR FROM order_date))) / NULLIF(LAG(SUM(selling_price)) OVER (ORDER BY EXTRACT(YEAR FROM order_date)), 0) * 100 AS sales_growth
    FROM orders
    GROUP BY year
    ORDER BY year;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Profit Contribution by Category: For each category, compute SUM(profit)*100 / (SELECT SUM(profit) FROM orders).

In [ ]:
query = text("""
    SELECT category, 
           SUM(profit) AS total_profit,
           SUM(selling_price) AS total_sales,
           (SUM(profit) / NULLIF(SUM(selling_price), 0)) * 100 AS profit_contribution
    FROM orders
    GROUP BY category
    ORDER BY profit_contribution DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Most Common Shipping Mode: Find the single ship_mode used by the most orders.

In [ ]:
query = text("""
    SELECT ship_mode, 
           COUNT(*) AS order_count
    FROM orders
    GROUP BY ship_mode
    ORDER BY order_count DESC
    LIMIT 1;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('Standard Class', 5962)

#### Highest Average Order Value by Region: Determine which region has the highest average selling_price.

In [ ]:
query = text("""
    SELECT region, 
           AVG(selling_price) AS average_order_value
    FROM orders
    GROUP BY region
    ORDER BY average_order_value DESC
    LIMIT 1;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('South', 233.34043209876558)

####  Category & Sub-Category Sales: Sum selling_price for each (category, sub_category) pair.

In [ ]:
query = text("""
    SELECT category, sub_category, 
           SUM(selling_price) AS total_sales
    FROM orders
    GROUP BY category, sub_category
    ORDER BY total_sales DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Top 3 Profitable Products per Sub-Category: For each sub_category, list the top three product_id by total profit.

In [ ]:
query = text("""
    SELECT sub_category, product_id, 
           SUM(profit) AS total_profit
    FROM orders
    GROUP BY sub_category, product_id
    ORDER BY sub_category, total_profit DESC
    LIMIT 3;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Monthly Order Counts for 2023: Count order_id by MONTH(order_date) for YEAR(order_date)=2023, list in descending order.

In [ ]:
query = text("""
    SELECT EXTRACT(MONTH FROM order_date) AS month, 
           COUNT(order_id) AS order_count
    FROM orders
    WHERE EXTRACT(YEAR FROM order_date) = 2023
    GROUP BY month
    ORDER BY month;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### States with Lowest Sales: Identify the ten state values with the smallest total selling_price.

In [ ]:
query = text("""
    SELECT state, 
           SUM(selling_price) AS total_sales
    FROM orders
    GROUP BY state
    ORDER BY total_sales ASC
    LIMIT 1;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('North Dakota', 877.7)

#### Top 5 States by Revenue: Find the five state values contributing most to total revenue.

In [ ]:
query = text("""
    SELECT state, 
           SUM(selling_price) AS total_revenue
    FROM orders
    GROUP BY state
    ORDER BY total_revenue DESC
    LIMIT 5;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Average Discount by Sub-Category: Compute average discount per sub_category, ordered descending.

In [ ]:
query = text("""
    SELECT sub_category, 
           AVG(discount) AS average_discount
    FROM orders
    GROUP BY sub_category
    ORDER BY average_discount DESC;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

#### Top 10 Products by Revenue: Sum selling_price per product_id, list the top ten by total revenue.

In [ ]:
query = text("""
    SELECT product_id, 
           SUM(selling_price) AS total_revenue
    FROM orders
    GROUP BY product_id
    ORDER BY total_revenue DESC
    LIMIT 10;
""")
with engine.connect() as connection:
    result = connection.execute(query)
    rows = result.fetchall()
    for row in rows:
        print(row)

('TEC-CO-10004722', 59514.0)
('OFF-BI-10003527', 26525.300000000003)
('TEC-MA-10002412', 21734.4)
('FUR-CH-10002024', 21096.2)
('OFF-BI-10001359', 19090.2)
('OFF-BI-10000545', 18249.0)
('TEC-CO-10001449', 18151.2)
('TEC-MA-10001127', 17906.4)
('OFF-BI-10004995', 17354.8)
('OFF-SU-10000151', 16325.8)